<template>
  <div id="app">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <router-link to="/" class="btn btn-xs btn-info">Messages</router-link> |
            <router-link to="/new" class="btn btn-xs btn-info">New Message</router-link> |
            <router-link to="/signup" class="btn btn-xs btn-info">Signup</router-link> |
            <router-link to="/signin" class="btn btn-xs btn-info">Signin</router-link>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <router-view></router-view>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import NewMessage from './components/NewMessage.vue';

export default {
  data() {
    return {
    }
  }
}
</script>

<style>
  #app {
    margin: 30px;
  }
</style>
