<template>
	<div v-if="isInfo" v-bind:class="{ 'alert alert-success': isSuccess, 'alert alert-danger': isDanger }">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{ info }}
	</div>
</template>

<script>
export default {
	props: ['propIsInfo','propIsSuccess','propIsDanger','propInfo'],
	data() {
		return {
			isInfo: this.propIsInfo,
			isSuccess: this.propIsSuccess,
			isDanger: this.propIsDanger,
			info: this.propInfo
		}
	}
}
</script>