<template>
	<div>
		<!-- <app-flash :propIsInfo="isInfo" :propIsSuccess="isSuccess" :propIsDanger="isDanger" :propInfo="info"></app-flash> -->
		<div v-if="isInfo" v-bind:class="{ 'alert alert-success': isSuccess, 'alert alert-danger': isDanger }">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{ info }}
		</div>

		<button class="btn btn-primary" @click="onGetMessages">
			Get Messages
		</button>
		<hr>

		<app-message v-for="message in messages" :qt="message" @messageDeleted="onMessageDeleted($event)"></app-message>
	</div>
</template>

<script>
import axios from 'axios';
import Message from './Message.vue';
import Flash from './Flash.vue';


export default {
	props: ['qt'],
	data() {
		return {
			isInfo: false,
			isSuccess: false,
			isDanger: false,
			info: 'haha',
			messages: []
		}
	},
	methods: {
		onGetMessages() {
			self = this;
			axios.get('http://localhost:8000/api/message')
				.then(function (response){
					self.messages = response.data.messages
				})
				.catch(function (error){
					self.isInfo = true;
					self.isDanger = true;
					self.info = 'Ops, something wrong when loaded all messages';
					console.log(error)
				});
		},
		onMessageDeleted(id) {
			const position = this.messages.findIndex((element) => {
				return element.id == id;
			});
			this.messages.splice(position, 1);
		}
	},
	components: {
		'app-message': Message,
		'app-flash': Flash
	}
}

</script>