<template>
	<div class="panel panel-default">
		<div class="panel-body">
		<p>Title : {{ qt.title }} </p>
		<p>Content : {{ qt.content }} </p>
		</div>
		<div class="panel-footer">
			<div v-if="editing">
				<label for="title">Title</label>
				<input type="text" class="form-control" v-model="titleValue" @keyup.enter="onUpdate">
 
 				<label for="title">Content</label>
				<input type="text" class="form-control" v-model="contentValue" @keyup.enter="onUpdate">
 
				<a class="btn btn-success btn-sm" @click.enter="onUpdate">Save</a>
				<a class="btn btn-warning btn-sm" @click="onCancel">Cancel</a>
			</div>
			<div v-if="!editing">
				<a class="btn btn-info btn-sm" @click="onEdit">Edit</a>
				<a class="btn btn-danger btn-sm" @click="onDelete">Delete</a>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';

export default { 
	props: ['qt'],
	data() {
		return {
			isInfo: false,
			isSuccess: false,
			isDanger: false,
			info: '',
			editing: false,
			titleValue: this.qt.title,
			contentValue: this.qt.content
		}
	},
	methods: {
		onEdit() {
			this.editing = true;
			this.titleValue = this.qt.title;
			this.contentValue = this.qt.content;
		},
		onCancel() {
			this.editing = false;
		},
		onDelete() {
			const token = localStorage.getItem('token');
			this.$emit('messageDeleted', this.qt.id);
			axios.delete('http://localhost:8000/api/message/' + this.qt.id + '?token=' + token)
			.then(function (response){
				self.isInfo = true;
				self.isSuccess = true;
				self.info = 'Successfully deleted message " ' + response.data.message.title + ' "';
				console.log(response)
			})
			.catch(function (error){
				self.isInfo = true;
				self.isDanger = true;
				self.info = "Could not create the message";
				console.log(error)
			});
		},
		onUpdate() {
			const token = localStorage.getItem('token');
			this.editing = false;
			this.qt.title = this.titleValue;
			this.qt.content = this.contentValue;
			axios.put('http://localhost:8000/api/message/' + this.qt.id + '?token=' + token, {
				title: this.titleValue,
				content: this.contentValue
			})
			.then(function (response){
				self.isInfo = true;
				self.isSuccess = true;
				self.info = 'Successfully updated message " ' + response.data.message.title + ' "';
				console.log(response);
			}) 
			.catch(function (error){
				self.isInfo = true;
				self.isDanger = true;
				self.info = "Could not delete the message";
				console.log(error)
			});
		}
	}
}
</script>

<style>
a {
	cursor: pointer;
}
</style>