<template>
	<form @submit.prevent="onSubmitted">
		<div v-if="isInfo" v-bind:class="{ 'alert alert-success': isSuccess, 'alert alert-danger': isDanger }">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{ info }}
		</div>

		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" id="title" class="form-control" v-model="messageTitle">
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<input type="text" id="content" class="form-control" v-model="messageContent">
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</template>
 
<script>
	import Flash from './Flash.vue';
	import axios from 'axios';

	export default {
		data() {
			return {
				isInfo: false,
				isSuccess: false,
				isDanger: false,
				info: '',
				messageTitle: '',
				messageContent: ''
			}
		},
		methods: {
			onSubmitted() {
				self = this;
				const token = localStorage.getItem('token');
				axios.post('http://localhost:8000/api/message?token=' + token, {
					title: this.messageTitle, 
					content: this.messageContent})
					.then(function (response){
						self.isInfo = true;
						self.isSuccess = true;
						self.info = 'Successfully create a message " ' + response.data.message.title + ' " by ' + response.data.user.name;
						console.log(response);
					}) 
					.catch(function (error){
						self.isInfo = true;
						self.isDanger = true;
						self.info = "Could not create the message";
						console.log(error);
					});
			}
		},
		components: {
			'app-flash': Flash
		}
	}
</script>