<template>
	<form>
	<div class= "container">
		<div v-if="isMessage" v-bind:class="{ 'alert alert-success': isSuccess, 'alert alert-danger': isDanger }">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{ message }}
		</div>
	</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" class="form-control" v-model="name">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" class="form-control" v-model="email">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class="form-control" v-model="password">
		</div>
		<button type="submit" class="btn btn-primary" @click.prevent="signup">Submit</button>
	</form>
</template>

<script>
import axios from 'axios';

export default {
	data() {
		return {
			isMessage: false,
			isSuccess: false,
			isDanger: false,
			name: '',
			email: '',
			password: ''
		}
	},
	methods: {
		signup() {
			self = this;
			axios.post('http://localhost:8000/api/user', {
				name: this.name,
				email: this.email,
				password: this.password
			}, {
				headers: {'X-Requested-With': 'XMLHttpRequest'}
			})
			.then(function (response){
				self.isMessage = true;
				self.isSuccess = true;
				self.message = response.data.message
			})
			.catch(function (error){
				self.isDanger = true;
				self.message = "Could not create an user"
			});
		}
	}
}
</script>